.main-content {
    font-family: sans-serif;
    font-size: smaller;
    background: white;
}

h2 {
    margin-left: 10px;
    margin-bottom: 0px;
}

h3 {
    margin-left: 10px;
}

h3.no-bottom {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

button {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.intro {
    background-color:white;
    z-index: 10;
    top:0px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

#notes{
    padding: 5px;
    float: left;
    color: #0977B5;
    border-style: none;
    border-color: green;
    background-color:white;
    position: fixed;
    left: 600px;
    top: 180px;
    width: 300px;
    z-index: 11;
    visibility: hidden;

}

.intro:hover > #notes {
    visibility: visible;
}


#container-panel {
  width:  1200px;
}

#gallery {
    padding: 10px;
    display: inline-block;
}

#cluster {
    padding: 10px;
    display: inline-block;
}


.overlay {
  opacity: .1;
}

.patch-container {
    width: 526px;
    padding: 2px;
    background: #222;
}

.patch-container .patch {
    border: 1px solid #000;
}

.patch-container .patch:hover {
    border: 1px dotted red;
}

#button-panel {
    padding-top: 10px;
    margin-left: 10px;
    clear: left;
}

#example-container img {
  display: inline-block;
  height: 100px;
  margin: 5px;
  border: 1px solid black;
}
