
{% macro display_active_query(classifier, hits, row_width, form) %}

<!--Flask-->
<script>
var attribute = "{{ classifier.name|safe }}";
var classifier_id = "{{ classifier.id|safe }}";
var  iter = "{{ classifier.iteration.number|safe }}";
var hit_data ={{ hits|safe }};
var img_baseurl = "{{ url_for('static', filename = 'blob/')  }}";
//console.log(hit_data);
//TODO: hack. fix with a sluggifier on server side
var keyword = "{{ classifier.keyword.name|safe }}".replace(" v2", "").replace("_v3", "").replace("fashion_", "").replace(/_/g, " ");
</script>


<div class="main-content">
  
  <div class="intro">
    <p id="title">
	<h1>Select all of the images containing the head of the <font color="#0977B5" id="keyword"></font></h1>
<h2> Please click on images that are the just the * head * of the same species of bird written in blue above. </h2>

    </p>

	      <h3 class="no-bottom">Click submit when you are finished. <br />
		Click on a confidence value (1 = low, 5 = high) to show how confident you feel about your selected image patches.<br />
		Drag or click images to select or deselect.</h3>
	      <div id="button-panel">
		<form id="hit_response" method="POST" action="">

		  {{form.hidden_tag()}}

		  <p>
		  <label for=radios><h3>Confidence:</h3></label>
		  
		  <div id="radios">
		      <input id="option1" name="options" type="radio" value="1">
		      <label for="option1">1</label>
		   
		      <input id="option2" name="options" type="radio" value="2">
		      <label for="option2">2</label>
		   
		      <input id="option3" name="options" type="radio" value="3" checked>
		      <label for="option3">3</label>
		   
		      <input id="option4" name="options" type="radio" value="4">
		      <label for="option4">4</label>
		   
		      <input id="option5" name="options" type="radio" value="5">
		      <label for="option5">5</label>
		   
		  </div>
		  </p>
		</form>		 
		<form id="mturk" method="POST" action="https://www.mturk.com/mturk/externalSubmit">
		  <button id="clear">Reset</button>
		  <button id="commit">Submit</button>
		</form>		 
		</div>
	      <!--div id="exemplars" class="patch-container"></div-->
	
  </div>

  <div id="container-panel">
      <div id="gallery">
          <h3>Candidate Images</h3>
          <div id="gallery-container" class="patch-container">
          	<script>
          	row_width = {{row_width}};
          	num_images = Math.min(200,hit_data["TopConf.file"].length);
          	num_images = 200;
          	num_rows = Math.floor(num_images/row_width);

          	for (var i = 0; i < num_rows; i++){
          		var list = document.createElement("ul");
          		list.className = "patch-row";
          		list.id = "row" + i;
          		for ( var j = 0; j < row_width; j++){
          			listElement = document.createElement("li");
          			listElement.id = "gallery-" + i + "-" + j;
          			listElement.className = "image-patch";
          			list.appendChild(listElement);
          		}
          		$("#gallery-container").append(list);
          	}

          	</script>
          </div>
      </div>
      <div id="cluster">
          <h3>Yes Images</h3>
          <div id = "cluster-background">
            <div id="cluster-container" class="patch-container"></div>
          </div>
      </div>
  </div>
</div>


<script type="text/javascript" src="{{ url_for('static', filename='js/active_query.js') }}"></script>




{% endmacro %}




