
{% macro display_training_set(classifier, examples, pos, neg, row_width) %}

<!--Flask-->
<script>
var attribute = "{{ classifier.name|safe }}";
var classifier_id = "{{ classifier.id|safe }}";
var  iter = "{{ classifier.iteration.number|safe }}";
var examples = {{ examples|safe }};
var pos = {{ pos|safe }};
var neg = {{ neg|safe }};
var img_baseurl = "{{ url_for('static', filename = 'blob/')  }}";
console.dir(examples);
console.dir(pos);
console.dir(neg);
</script>


<div class="main-content">
  
  <div class="intro">
    <p id="title">
	<h1>This is a replay for <font color="#0977B5">{{ classifier.keyword.name|safe }}: iteration {{ classifier.iteration.number|safe }}</font></h1>
    </p>
<div id="notes" >
  <h3> <i>Selected images should closely resemble the example images. If the example images show an entire bird, then only select images that contain the whole body of a similar looking bird, e.g. same species bird. If the examples show only a bird beak or leg, only select image patches that contain a similar beak or leg.</i></h3>
</div>
	      <h3 class="no-bottom">Click submit when you are finished. <br />
		Click on a confidence value (1 = low, 5 = high) to show how confident you feel about your selected image patches.<br />
		Drag or click images to select or deselect.</h3>
 
	      <div id="exemplars" class="patch-container"></div>
	
  </div>

  <div id="container-panel">
      <div id="gallery">
          <h3>Candidate Images</h3>
          <div id="gallery-container" class="patch-container">
          	<script>
          	row_width = {{row_width}};
          	num_images = Math.min(200,neg["TopConf.file"].length);
          	num_images = 200;
          	num_rows = Math.floor(num_images/row_width);

          	for (var i = 0; i < num_rows; i++){
          		var list = document.createElement("ul");
          		list.className = "patch-row";
          		list.id = "row" + i;
          		for ( var j = 0; j < row_width; j++){
          			listElement = document.createElement("li");
          			listElement.id = "gallery-" + i + "-" + j;
          			listElement.className = "image-patch";
          			list.appendChild(listElement);
          		}
          		$("#gallery-container").append(list);
          	}

          	</script>
          </div>
      </div>
      <div id="cluster">
          <h3>Yes Images</h3>
          <div id = "cluster-background">
            <div id="cluster-container" class="patch-container">
          	<script>
          	row_width = {{row_width}};
          	num_images = Math.min(200,pos["TopConf.file"].length);
          	num_images = 200;
          	num_rows = Math.floor(num_images/row_width);

          	for (var i = 0; i < num_rows; i++){
          		var list = document.createElement("ul");
          		list.className = "patch-row";
          		list.id = "row" + i;
          		for ( var j = 0; j < row_width; j++){
          			listElement = document.createElement("li");
          			listElement.id = "cluster-" + i + "-" + j;
          			listElement.className = "image-patch";
          			list.appendChild(listElement);
          		}
          		$("#cluster-container").append(list);
          	}

          	</script>
	    </div>
          </div>
      </div>
  </div>
</div>


<script type="text/javascript" src="{{ url_for('static', filename='js/training_set.js') }}"></script>




{% endmacro %}




