<script src="/js/sticky-div.js"></script>

<div class="main-content">
  <div class="intro">
    <p id="title">
      <h1>Select all of the similar images for <font color="#0977B5">{{classifier.keyword.name}}</font></h1>
    </p>
    <div id="notes">
      <h3> <i>Selected images should closely resemble the example images. For example, if the example images show an entire bird, then only select images that contain the whole body of a similar looking bird, e.g. same species bird. If the examples show only a bird beak or leg, only select image patches that contain a similar beak or leg.</i></h3>
    </div>
    <h3 class="no-bottom">Click submit when you are finished. <br />
      Click on a confidence value (1 = low, 5 = high) to show how confident you feel about your selected image patches.<br />
      Click images to move them between "no" and "yes".</h3>
    <div id="button-panel">
      <form id="hit_response" method="POST" action="">
	{{form.hidden_tag()}}

	<p>
	  <label for=radios><h3>Confidence:</h3></label>
		  
	  <div id="radios">
	    <input id="option1" name="options" type="radio" value="1">
	    <label for="option1">1</label>
		   
	    <input id="option2" name="options" type="radio" value="2">
	    <label for="option2">2</label>
		   
	    <input id="option3" name="options" type="radio" value="3" checked>
	    <label for="option3">3</label>
		   
	    <input id="option4" name="options" type="radio" value="4">
	    <label for="option4">4</label>
		   
	    <input id="option5" name="options" type="radio" value="5">
	    <label for="option5">5</label>
	  </div>
	</p>

      </form>		 
      <form id="mturk" method="POST" action="https://www.mturk.com/mturk/externalSubmit"><!--"https://workersandbox.mturk.com/mturk/externalSubmit"-->
	<button id="clear">Reset</button>
	<button id="commit">Submit</button>
      </form>		 
    </div>
    <div id="exemplar-container">
      <div id="pos-examples" style="display:inline-block">
        <h3>Examples:</h3>
        {% for pid in hits.positives %}
        <img class='patch' src="/patch/{{pid}}">
        {% endfor %}
      </div>
      <div id="spacer" style="width:100px; display:inline-block"></div>
      <div id="neg-examples" style="display:inline-block">
        <h4><font color='#900'>These are incorrect selections: </font></h4>
        {% for pid in hits.negatives %}
        <img class='patch' src="/patch/{{pid}}">
        {% endfor %}
      </div>
    </div>
  </div>

  <div id="container-panel">
    <div id="gallery">
      <h3>Candidate Images</h3>
      <div class="patch-container">
        {% for pid in hits.queries %}
        <img id='pos-patch-{{pid}}' class='patch' src="/patch/{{pid}}">
        {% endfor %}
      </div>
    </div>
    <div id="cluster">
      <h3>Yes Images</h3>
      <div class="patch-container">
        {% for pid in hits.queries %}
        <img id='neg-patch-{{pid}}' class='patch' src="/patch/{{pid}}"
             style="visibility: hidden">
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script src="/js/active_query.js"></script>
<script>active_query();</script>
