{% import "macros.html" as m %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/ico" href="/favicon/favicon.ico">
  {% if title %}
    <title>{{ title }} | {{ appname }} </title>
  {% else %}
    <title>{{ appname }}</title>
  {% endif %}
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% assets filters="cssmin", output="css/packed.css",
  "css/normalize.css",
  "css/base.css",
  "css/main.css",
  "css/cluster.css",
  "css/imgareaselect-default.css",
  "css/basic.css",
  "css/dropzone.css",
  "css/radios-to-slider.css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets filters="jsmin", output="js/packed.js",
  "js/native-console.js",
  "js/modernizr.js",
  "js/jquery.js",
  "js/jquery-ui.js",
  "js/jquery.imgareaselect.js",
  "js/jquery.radios-to-slider.js",
  "js/jquery.maphilight.js",
  "js/dropzone.js",
  "js/dropzone-config.js",
  "js/main.js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

</head>
  <body>
    <div id = "nav_bar">
      <p><a href="{{ url_for('top') }}">{{ appname }}</a></p>
      <div id="links">
        <a href="{{ url_for('dataset_top') }}">Datasets</a>
        <a href="{{ url_for('keyword_top') }}">Keywords</a>
        <a href="{{ url_for('classifier_top') }}">Train</a>
        <a href="{{ url_for('detect_top') }}">Detect</a>
        <a href="{{ url_for('evaluate_top') }}">Evaluate</a>
      </div>
      {% if current_user.is_anonymous %}

      {% else %}
        Hello, <a href="{{url_for('user.profile')}}">{{current_user.username}}</a> (<a href="{{url_for('user.logout')}}">logout</a>)
      {% endif %}
    </div>

    <div id = "main">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }} </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      {% block content %}
      <p>Set a content block!</p>
      {% endblock %}

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
      </script>
    </div>
  </body>
</html>
