{% extends "base.html" %}
{% block content %}
<div id = "container">

  <h1>Classifier: {{classifier.keyword.name if classifier.keyword else "Exporter Classifier"}} on {{classifier.dataset.name}}</h1>


  <h2>Iteration #{{round.number}}</h2>

  <h3>Predictions</h3>
  <h4>Highest scoring image patches on validation dataset</h4>
  {% for pred in round.valpredictions[:9] %}
  <img class="patch" src='{{pred.patch.url}}'/>
  {% endfor %}

  <h4>Lowest scoring image patches on validation dataset</h4>
  {% for pred in round.valpredictions[-9:] %}
  <img class="patch" src='{{pred.patch.url}}'/>
  {% endfor %}



</div>


{% include "active_query.html" %}
{% endblock %}
