{% extends "base.html" %}
{% block content %}
  {% for r in classifier.rounds %}
    <h2>Iteration #{{r.number}}</h2>

    <h3>Positives</h3>
    {% for ex in r.examples %}
      {% if ex.value %}
    <img class="patch" src='{{ex.patch.url}}'>
      {% endif %}
    {% endfor %}

    <h3>Negatives</h3>
    {% for ex in r.examples %}
      {% if not ex.value %}
    <img class="patch" src='{{ex.patch.url}}'/>
      {% endif %}
    {% endfor %}

    <h3>Predictions</h3>
    <h4>Highest scoring image patches on validation dataset</h4>
    {% for pred in r.predictions[:9] %}
    <img class="patch" src='{{pred.patch.url}}'/>
    {% endfor %}

    <h4>Lowest scoring image patches on validation dataset</h4>
    {% for pred in r.predictions[-9:] %}
    <img class="patch" src='{{pred.patch.url}}'/>
    {% endfor %}

  {% endfor %}

{% endblock %}
