
{% extends "base.html" %}
{% block content %}

<div id="container"> 
  <form action="{{url_for('file_upload')}}" class="dropzone" id="detect-drop" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class="fallback">
      {{form.file}}
    </div>
  </form>
 
  <form id="detect-form" action="" method="post" enctype="multipart/form-data">
    {{detect_form.hidden_tag()}}
    <input type="submit" value="Detect">
  </form>

  <ul>
    {% for d in detects %}
    <li><a href="{{d.url}}">Detection {{d.id}}</a></li>
    {% endfor %}
  </ul>

  
</div>

{% endblock %}
