{% macro display_form(form, action, id, value) %}
<form action="{{ action }}" method="post" id="{{ id }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
      {{ field.label }}
      {{ field }}
    {% endfor %}
    <input type="submit" value="{{ value|e }}">
</form>
{% endmacro %}

{% macro display_new_classifier_form(form, id) %}    
    {{ display_form(form, url_for('classifier_new'), 'submit_classifier', 'Create Classifier') }}
{% endmacro %}
