{% extends "base.html" %}
{% block content %}


<div id = "container">
<div id = "patches">
<h1 >Geolocation Keyword: {{keyword}}</h1>
<hr>
</div>
<div id = "query">
<h1 >Query Image: </h1>

<hr>
</div>
<div id = "neighbors">
<h1 >Estimated Most Similar Images: </h1>
<hr>
</div>



</div>

{% import "forms.html" as forms %}


<script>

queryImgName = {{queryImgName}};
patches={{patches|safe}};
neighbors={{neighbors|safe}};
console.log(queryImgName);
console.log(patches);
$(document).ready( function() {
    createBbox(queryImgName, "query");
    displayImg(queryImgName);
    $("#" + queryImgName).css("width", "50%");
    load_patches(patches);
    load_images(neighbors, "neighbors");
});

</script>

{% endblock %}
