{% extends "base.html" %}
{% block content %}


<div id = "container">
	<div style = "overflow: hidden; height: 70px">
    	<h1 style = "display: inline-block;">Geo Queries</h1>
        <h1 style = "float:right; margin-right: 50px; font-weight: normal"><a href = "/geo/new">Create New Geo Query</a></h1>
    </div>
	<hr>

	<div id = "card-container">
		{% import "card.html" as card %}
		{% for g in geo %}
			{{card.create_geo_card(g.name, g.id|string, g.keywords[0].seeds[0].patch.blob.id)}}
		{% endfor %}
	</div>


</div>

{% endblock %}
