{% extends "base.html" %}
{% block content %}

<div id="container" > 
  <div id = "naming-keyword">
    <h1 id="keyword-view"> New Keyword Name:  </h1>
    <textarea placeholder = "Enter name here" id="keyword-textarea"></textarea>
  </div>
  <hr>
    
  <form action="/file-upload/" class="dropzone" id="seed-drop"  enctype="multipart/form-data">
    {{blob_form.hidden_tag()}}
    <div class="fallback">
      {{blob_form.file}}
    </div>
  </form>

  <hr>
  <div id="img-container"> </div> 
  <hr>
  <div id="preview-container">
    <div id="keyword-container">
      <form action="/keyword/add" method="post" id="submit_keyword" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.keyword}}
        {{form.seeds}}

        <button style = "font-weight:normal;" type = "button" id = "submit_keyword_button" >Add Keyword </button>
      </form>
    </div>
  </div>
</div>


<script type="text/javascript" src="/js/show_upload_image_multi_select.js"></script>

<script>

$("#submit_keyword_button").on('click', function () {
    if ($("#keyword-textarea").val() == "") {
        $("#keyword-textarea").css("background-color", "rgba(255,0,0,0.1");
        $("#keyword-textarea").attr("placeholder", "This field is required");
        $("html, body").animate({ scrollTop: 0 }, 500);
    } else {
        $("#seeds").val(JSON.stringify(user_patches));
        $("#submit_keyword").submit();
    }
});

$("#keyword-textarea").on('change keyup paste',function() {
    $("#keyword").val($("#keyword-textarea").val());
});

</script>


{% endblock %}
