{% extends "base.html" %}
{% block content %}

<div id="container" > 
  <form action="/file-upload/" class="dropzone" id="seed-drop" enctype="multipart/form-data">
    {{blob_form.hidden_tag()}}
    <div class="fallback">
      {{blob_form.file}}
    </div>
  </form>

  <hr>
  <div id="img-container"> </div> 
  <hr>
  <div id="preview-container">
    <div id="keyword-container">
      <form action="/keyword/add" method="post" id="submit_keyword" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{m.field(form.keyword, required=True)}}
        <input type="submit" value="Add Keyword">
      </form>
    </div>
  </div>
</div>

<script>
  $("#submit_keyword").submit(function () {
    $("#seeds").val(JSON.stringify(user_patches));
    return true;
  });
</script>


{% endblock %}
