{% extends "base.html" %}
{% block content %}

<div id = "container">
  <div style = "overflow: hidden; height: 70px">
    <h1 style = "display: inline-block;">PatchSpecs</h1>
  </div>

  <hr>

  <ul>
    {% for ps in patchspecs %}
    <li>{{ps}}</li>
    {% endfor %}
  </ul>

  <form action="{{url_for('patchspec_new)}}" method="post">
    {{ psform.hidden_tag() }}
    {{ m.field(psform.name, required=True) }}

    <fieldset>
      {{ m.field(psform.width, size = 5, required=True) }}
      {{ m.field(psform.height, size = 5, required=True) }}
    </fieldset>

    <fieldset>
      {{ m.field(psform.xoverlap, size = 3, required=True) }}
      {{ m.field(psform.yoverlap, size = 3, required=True) }}
    </fieldset>

    {{ m.field(psform.scale, size = 4, required=True) }}
    {{ m.field(psform.flip) }}
    <input type="submit" value="Make new PatchSpec">
  
</div>
{% endblock %}
