{% extends "base.html" %}
{% block content %}

<div id="container" > 

    <h1> Test </h1>
   <hr>
    
   <h1> Upload Images </h1>
    <form action="/file-upload/" class="dropzone" id="test-drop"  enctype="multipart/form-data">
      {{blob_form.hidden_tag()}}
      <div class="fallback">
        {{blob_form.file}}
        <!--input name="file" type="file" multiple /-->
      </div>
    </form>

    <hr>
    <h1> Recognized Classifiers </h1>

    <div id="img-container"> </div> 

    <hr>


</div>


{% endblock %}
